$color-sand: rgba(251, 244, 233,1); //#FBF4E9
$color-trees: rgba(51, 86, 27, 1); //#335615
$color-sky: rgba(224, 236, 245, 1); //#E0ECF5
$color-dark-water: rgba(0, 92, 179, 1); //#005CB3
$color-night-sky: rgba(0, 13, 25, 1); //#002242
$color-white: rgba(255, 255, 255, 1);