@import './colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Literata', serif;
  line-height: 1.6;
  font-size: 18px;
  background: $color-white;
  color: $color-night-sky;

  @media (prefers-color-scheme: dark) {
    background: $color-night-sky;
    color: $color-white;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #006ADB;
  text-decoration: none;

  @media(prefers-color-scheme:dark) {
    color: #00b8ff;
  }
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

main {
  max-width: 800px;
  margin: auto;
}