@import './init';

.date {
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  letter-spacing: .08rem;
  text-transform: uppercase;
}

.content {
  grid-area: text;
  position: relative;
  margin: auto;

  h2 {
    font-size: calc(100% + .8vw);
    line-height: 1.4;
    margin-bottom: 0.4rem;
  }

  // h3 {
  //   @include title-medium;
  // }

  // h4 {
  //   @include title-small;
  // }

  // h5 {
  //   @include title-xsmall;
  // }

  // h6 {
  //   @include title-xxsmall;
  // }

  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0
    }
  }

  // a {
  //   font-weight: bold;
  // }

  ul,
  li {
    margin-bottom: 28px;

    @include breakpoint($bp-tablet) {
      margin-bottom: 32px;
    }

    @include breakpoint($bp-desktop) {
      margin-bottom: 40px;
    }
  }

  ul li {
    list-style: inside;
    list-style-type: disc;
  }

  ol li {
    list-style: inside;
    list-style-type: decimal;
  }

  ul li,
  ol li {
    margin-bottom: 12px;
  }
}
