@import '../../global/init';

.resumeWrapper {
  padding: 16px 24px;
  border-radius: 8px;
  letter-spacing: -0.0125rem;

  a {
    color: $color-dark-water;
  }

  @media (prefers-color-scheme: dark) {
    background: $color-white;
    color: $color-night-sky;
  }
}

.pageTitle {
  margin: 0;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 0;
}

.intro {
  margin-bottom: 1.5rem;
}

.sectionHeading {
  font-family: 'Literata', serif;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0;

  .contact & {
    @include visually-hidden;
  }
}

.jobHeading {
  font-weight: 750;
  font-size: 1.5rem;
}

.positionHeading {
  @include visually-hidden;
}

.description {
  &:first-of-type {
    margin-bottom: 1.5rem;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

.list {
  .contact & {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .description + & {
    margin: 8px 0;
    padding-left: 24px;
    li {
      list-style-type: disc;
    }
  }
}

.listItem {
  // Styles for contact list only
  .contact & {
    display: inline-block;

    &::after {
      content:'/';
      margin: 0 8px;
    }

    &:last-child {
      &::after{
        content: '';
        margin: 0;
      }
    }
  }
}

.job {
  margin-bottom: 1.5rem;
}

.jobTitles {
  margin-bottom: .75rem;
  font-style: italic;
  font-weight: 700;
}
